body{
    background-color: powderblue;
    color:white;
    /* overflow:hidden; */
}

.header #game_title{
    color: blanchedalmond;
    width:100%;
    height:100%;
    background-color: rgb(90, 156, 255);
    border: 15px solid rgb(90, 156, 255);
    font-size: 60px;
    text-align: center;
    margin:0%;
    padding:0px;
}

.grid-container-simulation_zone{
    display: grid;
    grid-template-areas: 
    'tables tables simulation simulation simulation simulation'
    'tables tables simulation simulation simulation simulation'
    'tables tables simulation simulation simulation simulation';
    height:100%;
    width:100%;
    border-top:20px solid rgb(255, 199, 192);
    padding-right: 10px;

}
/* #Qtable{
    background-color: azure;
    border:20px solid pink;
    color:black;
} */

/* #empty-space{
    width:100px;
    height:100px;
} */

/* #Reward_table{
    border:5px solid rgb(0, 191, 255);
    color:white;
    background-color: black;
    display: grid;
} */

#learningRate{
    width: 300px;
    display: grid;
    color: blue;
}

.lr_slider{
    color:blue;
}

#simulation{
    background-color: transparent;
    width:fit-content;
    padding: 0px;
    margin:0px;
}


#car_game_design{
    color:rgb(127, 193, 255);
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    border: 10px solid rgb(145, 189, 254);
    text-align: center;
    height: 450px;
    width: 550px;
    padding:10px; 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 50px;
    margin-bottom: 50px;;
    background-color: rgb(55, 121, 227);
    color: white;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
  }
  
  tr:nth-child(even) {
    background-color: #c4c4c4;
  }

/* #car{
    transform: rotate(-90deg);
    height: 50px;
    width:60px;
} */
